[package]
name = "random_string_fs"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
agfs-wasm-ffi = { path = "../hellofs-wasm/agfs-wasm-ffi" }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
